*{
    margin: 0;
    padding: 0;
}
.box{
    border-radius: 5px;
    height: 80vh;
    width: 70vw;
    background: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://thumbs.dreamstime.com/b/white-background-closeup-dahlia-flower-grayscale-minimalistic-style-color-palette-banner-desig-illustration-design-363328776.jpg");
}
#cut{
    height: 3vh;
    width: 3vh;
    background-color: rgb(77, 76, 76);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 49vw;
    bottom: 30px;
}
header{
    background-color: rgb(56, 55, 55);
    color :white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}
main{   
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid black 1px;
    background: white;
    height:70vh ;
    width: 60vw;
    
}
#container{
    display: block;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vw;
}
label{
    padding: 2px 0px;
}
.relabel{
    text-decoration: line-through;
    color: gray;
}
#listitems{
    padding: 5px 10px;
    border:  1px solid black;
    border-radius: 3px;
    overflow-y: auto;
    height: 40vh;
    width: 50vw;
    overflow: none;
}
input[type="checkbox"] {
  accent-color: rgb(63, 57, 57);
}

.span1{
    display: inline-block;
    width: 40vw;
    padding: 0px 2px;
}
.task{
    width: 30px;
    text-align: center;
}
.action{
    display: inline-flex;
    gap: 3px;
    margin-left: auto;
    float: right;                 /* pushes buttons to right without flexing span */
  }
.delete{
    display: flex;            
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
    position: relative;
    overflow: hidden;
    height: 12px;   
    width: 12px;
}
.edits{
    display: flex;            
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
    position: relative;
    overflow: hidden;
    height: 12px;   
    width: 12px;
}

.change img{
    height: 100%;
}
#addlist{
    display: none;
}
input{
    width: 35vw;
}
#submit{
    height: 22px;
    margin: 4px;
    padding: 3px 4px;
}
#add{
    padding: 3px;
    position: relative;
    top: 25vh;
    left: 10px;
    color: white;
    display: inline-flex;
    height: 233vh;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: rgb(56, 55, 55);
    height: 10vh;
}